 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+SK:wght@100..400&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Open Sans", sans-serif;
}

.video-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.overlay-text {
    position: absolute;
    top: 80%;
    right: 10%;
    transform: translateY(-50%);
    color: white;
    font-size: 100%;
    font-family: "Playwrite SK", cursive;
}

.reservation-button {
    position: absolute;
    top: 20px;
    left: 150px;
    padding: 10px 20px;
}

.reservation-button a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.reservation-button a:hover {
    color: #ccc;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo img {
    height: 50px; 
    width: auto;
}

.header {
    background-color: #2C3E3F;
    color: #F3F3F3;
    text-align: center;
    padding: 50px 150px;
}

.header h1 {
    font-size: 1.5em;
    margin: 0;
    line-height: 1.4;
}

.header p {
    font-size: 1.2em;
    font-style: italic;
    margin-top: 10px;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    background-color: #FAFAFA;
}

.left, .right {
    flex: 1;
    margin: 0 20px;
}

.left p, .right p {
    font-size: 1em;
    line-height: 1.6;
}

.right p {
    font-weight: bold;
}

.menu-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #FFF;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.gallery {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.gallery img {
    flex: 1;
    margin: 0;
    padding: 0;
    width: 20%;
    height: auto;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    background-color: #E6E6E6;
}

.footer-section {
    flex: 1;
    margin: 0 20px;
}

.footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 1em;
    line-height: 1.6;
}

.footer-section a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.footer-section a:hover {
    text-decoration: underline;
}

.bottom-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #FFF;
    box-sizing: border-box;
    font-size: 0.9em;
}

.bottom-footer p {
    margin: 0;
}

.bottom-footer a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
}

.bottom-footer a:hover {
    text-decoration: underline;
}

.team-container {
    text-align: center;
    margin-bottom: 20px;
}

.team-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.team-member {
    display: inline-block;
    margin: 0 20px;
    text-align: center;
}

.team-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.team-member h2 {
    font-size: 1.2em;
    margin: 0;
}

.team-member p {
    margin: 5px 0 0;
    font-size: 1em;
    color: #777;
}

button{
    border-radius: 25px;
}