@import url('https://fonts.googleapis.com/css2?family=Playwrite+SK:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+SK:wght@100..400&display=swap');


body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    position: relative;
    background: url('/assets/gal_4.jpg') no-repeat center center;
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0 0 25px 25px;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
}

.header-text {
    padding: 20px;
    text-align: right;
    margin-right: 20px;
}

.header-text h1 {
    color: #F3F3F3;
    font-size: 2em;
    margin: 0;
}

.dish-content {
    display: flex;
    padding: 40px 20px;
    background-color: #FAFAFA;
    flex: 1;
}

.dish-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.dish-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.dish-details {
    flex: 2;
    padding: 20px;
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.dish-details h2 {
    margin-top: 0;
}

.dish-details ul, .dish-details ol {
    margin: 0;
    padding-left: 20px;
}

.dish-details p {
    font-size: 1em;
    line-height: 1.6;
}

.dish-details strong {
    display: block;
    margin-top: 20px;
    font-size: 1.2em;
}

.bottom-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #FFF;
    box-sizing: border-box;
    font-size: 0.9em;
}

.bottom-footer p {
    margin: 0;
}

.bottom-footer a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
}

.bottom-footer a:hover {
    text-decoration: underline;
}

.recomendation{
    color:rgb(163, 139, 0)
}

.reservation-button {
    position: absolute;
    top: 20px;
    left: 150px;
    padding: 10px 20px;
}

.reservation-button a {
    color: white;
    text-decoration: none;
}

.reservation-button a:hover {
    color: #ccc;
}
